.body {
  padding: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.mat-column-nome {
  width: 50%;
}

.mat-column-especialidade {
  width: 25%;
}

.mat-column-crm {
  width: 15%;
}

.mat-column-acao {
  width: 10%;
}

th.mat-header-cell.mat-column-acao {
  text-align: center;
}

