<div class="box">
  <img src="../../../assets/logo/logo.svg" alt="">
  <!-- <h1>Login</h1> -->
  <div [formGroup]="loginForm">
    <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" placeholder="Digite o e-mail" />
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
      <mat-label>Senha</mat-label>
      <input matInput formControlName="senha" placeholder="Digite a senha" />
    </mat-form-field>
  </div>
  <div>
    <button (click)="autenticarUsuario()">Acessar</button>
  </div>

  <div class="links">
    <a href="#">
      Esqueci minha senha
    </a>
    <p>
      Primeiro acesso? <a href="#">Cadastrar</a>
    </p>
  </div>
</div>