<div class="body" style="position: relative">
  <div class="flex-between">
    <div>
      <h1 class="title">Nova Consulta</h1>
    </div>
    <div>
      <img src="../../../../assets/icon/x-square.svg" alt="botão fechar" (click)="closeModal()" class="close-button">
    </div>
  </div>
  <div class="form-button">
    <div [formGroup]="consultaForm" class="fields">
      <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
        <mat-label>*Paciente</mat-label>
        <mat-select formControlName="paciente" placeholder="Selecione o paciente">
          <mat-option *ngFor="let paciente of pacientes" [value]="paciente.id">
            {{paciente.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
        <mat-label>*Médico</mat-label>
        <mat-select formControlName="medico" placeholder="Selecione o médico">
          <mat-option *ngFor="let medico of medicos" [value]="medico.id">
            {{medico.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="field" appearance="outline" floatLabel="always" hideRequiredMarker>
        <mat-label>*Data</mat-label>
        <input matInput [matDatepicker]="dp1" placeholder="Selecione a data da consulta" formControlName="data" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="field" appearance="outline" floatLabel="always" hideRequiredMarker>
        <mat-label>*Horário Início</mat-label>
        <input matInput formControlName="horarioInicio" placeholder="Digite o horário início" mask="00:00" />
      </mat-form-field>

      <mat-form-field class="field" appearance="outline" floatLabel="always" hideRequiredMarker>
        <mat-label>*Horário Fim</mat-label>
        <input matInput formControlName="horarioFim" placeholder="Digite o horário fim" mask="00:00" />
      </mat-form-field>

      <!-- <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
        <mat-label>*Status</mat-label>
        <mat-select formControlName="status" placeholder="Selecione o status">
          <mat-option value="CONCLUIDO">
            Concluída
          </mat-option>
          <mat-option value="CANCELADO">
            Cancelada
          </mat-option>
          <mat-option value="FINALIZADO">
            Finalizada
          </mat-option>
        </mat-select>
      </mat-form-field> -->


      <!-- <mat-form-field class="field" appearance="outline" floatLabel="always" hideRequiredMarker>
        <mat-label>CPF</mat-label>
        <input matInput formControlName="cpf" placeholder="Digite o CPF" />
      </mat-form-field> -->

    </div>
    <div>
      <button (click)="salvar()" class="button save-button">Salvar</button>
    </div>
  </div>
</div>