.nav {
  background-color: #007954;
  height: 72px;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 1.5em;
}

.flex-align-center {
  display: flex;
  align-items: center;
  gap: 20px;
}
