<div class="body" style="position: relative">
  <div class="flex-between">
    <div>
      <h1 class="title">Novo Paciente</h1>
    </div>
    <div>
      <img src="../../../../assets/icon/x-square.svg" alt="botão fechar" (click)="closeModal()" class="close-button">
    </div>
  </div>
  <div class="form-button">
    <div [formGroup]="pacienteForm" class="fields">
      <mat-form-field class="field" appearance="outline" floatLabel="always" hideRequiredMarker>
        <mat-label>*Nome</mat-label>
        <input matInput formControlName="nome" placeholder="Digite o nome" />
      </mat-form-field>

      <mat-form-field class="field" appearance="outline" floatLabel="always" hideRequiredMarker>
        <mat-label>*CPF</mat-label>
        <input matInput formControlName="cpf" placeholder="Digite o CPF" maxlength="11" />
      </mat-form-field>

      <mat-form-field class="field" appearance="outline" floatLabel="always" hideRequiredMarker>
        <mat-label>*Data de Nascimento</mat-label>
        <input matInput [matDatepicker]="dp1" placeholder="Selecione a data de nascimento"
          formControlName="dataNascimento" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="field" appearance="outline" floatLabel="always" hideRequiredMarker>
        <mat-label>*Telefone</mat-label>
        <input matInput formControlName="telefone" placeholder="Digite o telefone" />
      </mat-form-field>

      <mat-form-field class="field" appearance="outline" floatLabel="always" hideRequiredMarker>
        <mat-label>*Logradouro</mat-label>
        <input matInput formControlName="logradouro" placeholder="Digite o logradouro" />
      </mat-form-field>

      <mat-form-field class="field" appearance="outline" floatLabel="always" hideRequiredMarker>
        <mat-label>*Número</mat-label>
        <input matInput formControlName="numero" placeholder="Digite o número" />
      </mat-form-field>

      <mat-form-field class="field" appearance="outline" floatLabel="always" hideRequiredMarker>
        <mat-label>*Bairro</mat-label>
        <input matInput formControlName="bairro" placeholder="Digite o bairro" />
      </mat-form-field>

      <mat-form-field class="field" appearance="outline" floatLabel="always" hideRequiredMarker>
        <mat-label>*Cidade</mat-label>
        <input matInput formControlName="cidade" placeholder="Digite a cidade" />
      </mat-form-field>

      <!-- <mat-form-field
        class="field"
        appearance="outline"
        floatLabel="always"
        hideRequiredMarker
      >
        <mat-label>UF</mat-label>
        <input matInput formControlName="uf" placeholder="Digite a UF" />
      </mat-form-field> -->
    </div>
    <div>
      <button (click)="salvar()" class="button save-button">Salvar</button>
    </div>
  </div>
</div>