.close-button {
  max-width: 100%;
  position: absolute;
  top: -5px;
  right: -5px;
  padding: .1em .2em;
  transform: translate(50%, -50%);

  &:hover {
    cursor: pointer;
  }
}

.buttons {
  grid-area: 0 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
}

.button {
  border: none;
  border-radius: 10px;
  padding: 1em 1em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.save-button {
  background-color: #BADDC099;
  color: #303030;

  &:hover {
    cursor: pointer;
    background-color: #007954;
    color: white;
  }
}

.title {
  font-size: 20px;
  font-weight: 500;
  padding: 0 1em;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.form-button {
  display: grid;
  grid-template-columns: 85% 15%;
  justify-items: center;
  align-items: center;
}

.fields {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 1em;
  padding: 0 1em;
}

.field:nth-child(1) {
  width: 60%;
}

.field:nth-child(2) {
    width: 30%;
}

.field:nth-child(3) {
  width: 41%;
}

.field:nth-child(4) {
  width: 45%;
}

.field:nth-child(5) {
  width: 65%;
}

.field:nth-child(6) {
  width: 20%;
}

.field:nth-child(7) {
  width: 45%;
}

.field:nth-child(8) {
  width: 45%;
}

.mat-datepicker-toggle {
  color: #007954 !important;
}