<div class="body">
  <div class="flex-between">
    <div>
      <h1>Novo Paciente</h1>
    </div>
    <div>
      <button (click)="closeModal()">Fechar</button>
    </div>
  </div>
  <div [formGroup]="pacienteForm">
    <div class="field">
        <label for="" class="razao-field">Razão Social</label>
        <input class="inputs" type="text">
    </div>
    <div class="field">
        <label for="" class="cnpj-field">CNPJ</label>
        <input class="inputs" type="text">
    </div>
    <div class="field">
        <label for="">Telefone</label>
        <input class="inputs" type="text">
    </div>
    <div class="field">
        <label for="" class="address-field">Endereço</label>
        <input class="inputs" type="text">
    </div>
    <div class="field number-field">
        <label for="">N°</label>
        <input class="inputs" type="text">
    </div>
    <div class="field">
        <label for="">Bairro</label>
        <input class="inputs" type="text">
    </div>
    <div class="field">
        <label for="">Cidade</label>
        <input class="inputs" type="text">
    </div>
    <div class="field uf-field">
        <label for="">UF</label>
        <input class="inputs" type="text">
    </div>
</div>

  <div>
    <button (click)="salvar()">Salvar</button>
  </div>
</div>
