<div class="body" style="position: relative;">
  <div class="flex-between">
    <div>
      <h1 class="title">Novo Médico</h1>
    </div>

    <div>
      <img src="../../../../assets/icon/x-square.svg" alt="botão fechar" (click)="closeModal()" class="close-button">
    </div>
  </div>

  <div class="form-button">
    <div [formGroup]="medicoForm" class="fields">
      <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" placeholder="Digite o nome" />
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
        <mat-label>Especialidade</mat-label>
        <mat-select formControlName="especialidade" placeholder="Selecione a especialidade">
          <mat-option *ngFor="let espec of especialidades" [value]="espec">
            {{espec}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
        <mat-label>CRM</mat-label>
        <input matInput formControlName="crm" placeholder="Digite o CRM" />
      </mat-form-field>
    </div>

    <div class="buttons">
      <button (click)="salvar()" class="button save-button">Salvar</button>
    </div>
  </div>


</div>