<div>
    <div class="two-header">
        <div class="back-button">
            <img src="assets/icon/back.svg" />
        </div>
        <h1 class="title">Dados da clínica</h1>
        <div></div>
    </div>
    <div class="main-box">
        <div class="fields">
            <div class="field">
                <label for="" class="razao-field">Razão Social</label>
                <input class="inputs" type="text">
            </div>
            <div class="field">
                <label for="" class="cnpj-field">CNPJ</label>
                <input class="inputs" type="text">
            </div>
            <div class="field">
                <label for="">Telefone</label>
                <input class="inputs" type="text">
            </div>
            <div class="field">
                <label for="" class="address-field">Endereço</label>
                <input class="inputs" type="text">
            </div>
            <div class="field number-field">
                <label for="">N°</label>
                <input class="inputs" type="text">
            </div>
            <div class="field">
                <label for="">Bairro</label>
                <input class="inputs" type="text">
            </div>
            <div class="field">
                <label for="">Cidade</label>
                <input class="inputs" type="text">
            </div>
            <div class="field uf-field">
                <label for="">UF</label>
                <input class="inputs" type="text">
            </div>
        </div>

        <div class="buttons">
            <a href="#" class="button save-button">Salvar</a>
            <a href="#" class="button edit-button">Editar</a>
            <a href="#" class="button cancel-button">Cancelar</a>
        </div>
    </div>
</div>