.body {
  padding: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.mat-column-nome {
  width: 50%;
}

.mat-column-tipo {
  width: 40%;
}

.mat-column-acao {
  width: 10%;
}

th.mat-header-cell.mat-column-acao {
  text-align: center;
}

