<div class="body">
  <div class="flex-center">
    <div class="back-button">
      <img src="assets/icon/back.svg" (click)="linkTo('home')" />
    </div>
    <div>
      <h1>Consultas</h1>
    </div>
  </div>

  <div class="flex-between">
    <!-- <div>
      <input
        type="text"
        placeholder="Digite aqui para pesquisar"
        #inputPesquisa
      />
      <button (click)="filtrarConsultas(inputPesquisa.value)">Pesquisar</button>
    </div> -->
    <div class="flex-center">
      <div>
        <button (click)="openModalCadastro()">Nova Consulta</button>
      </div>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" sort>
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let element">{{ element?.data }}</td>
      </ng-container>

      <ng-container matColumnDef="horario">
        <th mat-header-cell *matHeaderCellDef>Horário</th>
        <td mat-cell *matCellDef="let element">{{ element?.horario_inicio }} - {{ element?.horario_fim }}</td>
      </ng-container>

      <ng-container matColumnDef="medico">
        <th mat-header-cell *matHeaderCellDef>Médico</th>
        <td mat-cell *matCellDef="let element">{{ element?.idmedico }}</td>
      </ng-container>

      <ng-container matColumnDef="especialidade">
        <th mat-header-cell *matHeaderCellDef>Especialidade</th>
        <td mat-cell *matCellDef="let element">{{ element?.especialidade }}</td>
      </ng-container>

      <ng-container matColumnDef="paciente">
        <th mat-header-cell *matHeaderCellDef>Paciente</th>
        <td mat-cell *matCellDef="let element">{{ element?.idpaciente }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element?.status }}</td>
      </ng-container>

      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef>Ação</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="openModalEdicao(element.id)">Editar</button>
          <button (click)="excluirConsulta(element.id)">Excluir</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>