.body {
  padding: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.button-new {
  border: none;
  border-radius: 10px;
  padding: .7em 2em;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  background-color: #007954;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

.title {
  font-size: 2.5em;
  font-weight: 500;
  text-align: center;
}

.back-button {
  position: absolute;
  top: 90px;
  left: 30px;

  &:hover {
    cursor: pointer;
  }
}

:host ::ng-deep .mat-form-field-flex {
  width: 20em;
}


.mat-column-data {
  width: 15%;
}

.mat-column-horario {
  width: 15%;
}

.mat-column-medico {
  width: 15%;
}

.mat-column-especialidade {
  width: 15%;
}

.mat-column-paciente {
  width: 15%;
}

.mat-column-status {
  width: 15%;
}

.mat-column-acao {
  width: 10%;
}

th.mat-header-cell.mat-column-acao {
  text-align: center;
}