/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif }

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: gray;
}

.mat-form-field-label {
  color: black;
  font-size: 18px !important;
}

table {
  width: 100%;
}

.mat-table {
  background: #FFFFFF;
}

.mat-header-cell, .mat-cell {
  color: #000000;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  border-bottom-color: #000000;
}

.mat-dialog-container {
  background: #ffffff;
  color: #000000;
}

