/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif }

.mat-form-field-appearance-outline .mat-form-field-outline, .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  color: gray;
}

.mat-form-field-disabled .mat-form-field-outline {
  background-color: rgb(231, 231, 231);
}

.mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
  color: black;
  font-size: 18px !important;
}

.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: black;
}

.mat-select-placeholder {
  color: rgb(196, 196, 196);
}

.mat-button.mat-primary.mat-button-disabled, .mat-button.mat-accent.mat-button-disabled, .mat-button.mat-warn.mat-button-disabled, .mat-button.mat-button-disabled.mat-button-disabled, .mat-icon-button.mat-primary.mat-button-disabled, .mat-icon-button.mat-accent.mat-button-disabled, .mat-icon-button.mat-warn.mat-button-disabled, .mat-icon-button.mat-button-disabled.mat-button-disabled, .mat-stroked-button.mat-primary.mat-button-disabled, .mat-stroked-button.mat-accent.mat-button-disabled, .mat-stroked-button.mat-warn.mat-button-disabled, .mat-stroked-button.mat-button-disabled.mat-button-disabled {
  color: rgb(197, 197, 197);
}

table {
  width: 100%;
}

.mat-table {
  background: #FFFFFF;
}

.mat-header-cell, .mat-cell {
  color: #000000;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  border-bottom-color: #000000;
}

.mat-dialog-container {
  background: #ffffff;
  color: #000000;
}

.mat-select-value {
  color: #000000;
}

.mat-select-panel {
  background: #ffffff;
}

.mat-option {
  color: #007954;
}

.mat-option.mat-active {
  color: #007954;
}

.mat-select-arrow {
  color: #007954;
}
