<div class="body">
  <div class="flex-center">
    <div class="back-button">
      <img src="assets/icon/back.svg" (click)="linkTo('')" />
    </div>
    <div>
      <h1>Pacientes</h1>
    </div>
  </div>

  <div class="flex-between">
    <div>
      <input
        type="text"
        placeholder="Digite aqui para pesquisar"
        #inputPesquisa
      />
      <button (click)="filtrarMedicos(inputPesquisa.value)">Pesquisar</button>
    </div>
    <div class="flex-center">
      <div>
        <button (click)="openModalCadastro()">Novo Paciente</button>
      </div>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" sort>
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element?.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let element">{{ element?.cpf }}</td>
      </ng-container>

      <ng-container matColumnDef="telefone">
        <th mat-header-cell *matHeaderCellDef>Telefone</th>
        <td mat-cell *matCellDef="let element">{{ element?.telefone }}</td>
      </ng-container>

      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef>Ação</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="openModalEdicao(element.id)">Editar</button>
          <button (click)="excluirPaciente(element.id)">Excluir</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
