<div class="body">
  <div>
    <img class="back-button" src="assets/icon/back.svg" (click)="linkTo('home')" />
  </div>
  <h1 class="title">Pacientes</h1>

  <div class="flex-between">
    <div>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="filtrarPacientes($event)" placeholder="Digite para filtrar os resultados">
      </mat-form-field>
    </div>
    <div class="flex-center">
      <div>
        <button class="button-new" (click)="openModalCadastro()">Novo Paciente</button>
      </div>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element?.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CPF</th>
        <td mat-cell *matCellDef="let element">{{ element?.cpf }}</td>
      </ng-container>

      <ng-container matColumnDef="telefone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefone</th>
        <td mat-cell *matCellDef="let element">{{ element?.telefone }}</td>
      </ng-container>

      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef>Ação</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="openModalEdicao(element.id)">Editar</button>
          <button (click)="excluirPaciente(element.id)">Excluir</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>